
# Terraform
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
*plan
*plan.binary
*plan.json

# Generated SSH keys
*.pem

# venv
.venv

# TXT files
*.txt
.env
.env.*
!.env.example


# Test Files


# backups
*.tar